<header class="bg-gray-900">
  <nav
    class="navbar flex items-center justify-between flex-wrap px-6 py-4 w-5/6 mx-auto"
  >
    <div class="flex items-center flex-shrink-0 text-white mr-6">
      <h1 class="font-bold text-4xl">Daily News</h1>
    </div>
    <div class="block lg:hidden">
      <button
        class="flex items-center px-3 py-2 border rounded text-teal-200 border-teal-400 hover:text-white hover:border-white"
      >
        <svg
          class="fill-current h-3 w-3"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
        >
          <title>Menu</title>
          <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" />
        </svg>
      </button>
    </div>
    <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
      <div class="text-sm lg:flex-grow">
        <!-- <a
          href="#responsive-header"
          class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white mr-4"
        >
          Docs
        </a>
        </a> -->
      </div>
      <div>
        <h3
          class="text-xl inline-block text-sm mt-1 p-2 leading-none text-white hover:border-transparent hover:text-teal-500 lg:mt-0"
        >
          <i class="fas fa-toggle-on"></i>
        </h3>
        <a
          href="#"
          class="inline-block text-sm p-2 leading-none text-white hover:border-transparent hover:text-teal-500 lg:mt-0"
        >
          <h3 class="text-xl">
            <span class="mr-1">Bookmarks</span>
            <i class="fas fa-bookmark"></i>
          </h3>
        </a>
      </div>
    </div>
  </nav>
</header>
