<div class="">
  <form
    class="flex flex-wrap justify-center"
    #filterForm="ngForm"
    (ngSubmit)="onSubmit(filterForm)"
  >
    <div class="lg:w-1/4 w-full md:flex mb-2 px-1 relative">
      <select
        [(ngModel)]="country"
        class="appearance-none w-full bg-white border border-gray-400 hover:border-gray-500 px-4 py-2 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline"
        name="country"
        id="country"
      >
        <option selected value="">Select Country</option>
        <option value="us">United States of America</option>
        <option value="uk">United Kingdom</option>
        <option value="ca">Canada</option>
        <option value="ph">Philippines</option>
      </select>
      <div
        class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700"
      >
        <svg
          class="fill-current h-4 w-4"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 20 20"
        >
          <path
            d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
          />
        </svg>
      </div>
    </div>
    <div class="lg:w-1/4 w-full mb-2 px-1 relative">
      <select
        [(ngModel)]="category"
        class="w-full block appearance-none bg-white border border-gray-400 hover:border-gray-500 px-4 py-2 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline"
        name="category"
        id="category"
        [(ngModel)]="keyword"
      >
        <option value="">All Category</option>
        <option value="business">Business</option>
        <option value="entertainment">Entertainment</option>
        <option value="general">General</option>
        <option value="health">Health</option>
      </select>
      <div
        class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700"
      >
        <svg
          class="fill-current h-4 w-4"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 20 20"
        >
          <path
            d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
          />
        </svg>
      </div>
    </div>
    <div class="lg:w-1/4 w-full mb-2 px-1">
      <input
        [(ngModel)]="keyword"
        name="keyword"
        class="w-full shadow appearance-none border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        id="keyword"
        type="text"
        placeholder="Keywords"
      />
    </div>
    <div class="sm:w-full md:w-full lg:w-1/6 mb-2 px-1">
      <button
        class="bg-gray-900 hover:bg-gray-800 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
        type="submit"
      >
        Search
      </button>
      <button
        class="ml-1 bg-gray-900 hover:bg-gray-800 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
        type="button"
      >
        <i class="fas fa-arrow-circle-left"></i>
      </button>
    </div>
  </form>
</div>
